# Logs & data
logs/
*.log
data/
.DS_Store

# Build directories
build/
dist/

# Packages & dependency directories
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

#misc
.idea